@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display';
  background-color: #FFF9F9;
}

header {
  font-family: 'Red Hat Display';
}
section {
  font-family: 'Red Hat Display';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
